<!DOCTYPE html>
<html>
<head>
  <title>CafeLatency</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//speedof.me/api/api.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<%= yield %>

</body>
</html>
